# Python缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
env/
ENV/

# 配置与密钥
DoroAi/
config/settings.yaml
user_memory.json

# 打包文件
*.exe
*.spec

# 日志
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo